@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="firstBlock">
        <div class="firstBlockItems">
            <h1>WorkFree</h1>
            <p class="w3-xlarge">Rask arba pasiūlyk!</p>
            <a asp-controller="Listings" asp-action="Index">Peržiūrėti skelbimus</a>
        </div>
    </div>
</div>