@model WorkFree.ViewModels.CreateListingViewModel
@{
}


<div class="container">
    <div class="formBox">
        <form asp-action="Create" method="post">
            <h1>Naujas skelbimas</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">Pavadinimas</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Aprašymas</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Kaina</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricingType">Pasirinkite kainos tipą</label>
                <select asp-for="PricingType" asp-items="@(new SelectList(Model.pricingTypes, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ListingCategory">Pasirinkite skelbimo kategoriją</label>
                <select asp-for="ListingCategory" asp-items="@(new SelectList(Model.listingCategories, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="City">Pasirinkite miestą</label>
                <select asp-for="City" asp-items="@(new SelectList(Model.cities, "Id", "Name"))"></select>
            </div>
            <div class="loginButtonDiv">
                <button type="submit" class="btn btn-primary">Sukurti</button>
            </div>
        </form>
    </div>
</div>