<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/shared.css" />
    <link rel="stylesheet" href="~/css/landing.css" />
    @RenderSection("authenticationForms", required: false)
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="nav-list-left">
                <h1>WorkFree</h1>
                <form>
                    <input type="search" class="searchBar" Placeholder="Search..." />
                    <button>Search</button>
                </form>
            </div>
            <ul class="nav-list">
                <partial name="_LoginPartial"/>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>